.card {
  background-color: #EEEEEE;
}

.word {
  background-color: #333333;
}

.current-word {
  background-color: #555555;
}

.dictionary-current-word {
  background-color: #f8ff5e;
}

.stack-word {
  background-color: #DDDDDD;
}

.card-header {
  font-weight: bold;
}

.word-fstr {
  color: red;
}

.word-fint {
  color: #4444FF;
}

.word-word {
  color: #009900;
}

.word-fbool {
  color: purple;
}

#body-container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
